
/* -----------------------------header------------------------------ */

header{
    height: 90vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
header h1{
    font-size: 4rem;
    margin: 0;
}
header p{
    font-size: 1.5rem;
    margin: 10px 0 20px;
}
.container{
    width: 100%;
    margin: 0 auto;
}
#backgroundVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 425px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    header {
        height: 70vh;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    header h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.2rem;
    }

    header {
        height: 80vh;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    header h1 {
        font-size: 3.5rem;
    }

    header p {
        font-size: 1.4rem;
    }

    header {
        height: 85vh;
    }
}


